*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
}

:root {
  --pink-light: #c59dd2;
  --pink-base: #9547a5;
  --pink-dark: #7d298a;
  --pink-low: #3f0f41;
  --blue-light: #73b6d2;
  --blue-base: #358bb9;
  --blue-mid: #2374a4;
  --blue-dark: #144a72;
  --blue-low: #08233c;
  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000f1f;
  --shape-background: #00050a;
  --text-title: #f8fbfb;
  --text-body: #e2e7e9;
  --text-label: #bac6c9;

  --raleway: "Raleway", sans-serif;

  --title-lg: 700 1.75rem var(--raleway);
  --title-md: 700 2.5rem var(--raleway);
  --title-sm: 700 1.25rem var(--raleway);
  --title-sx: 700 1rem var(--raleway);
}

body {
  background: radial-gradient(circle, rgba(2,5,12,1) 0%, rgba(24,10,28,1) 0%, rgba(0,5,10,1) 100%);
}

h3 {
  font: 500 1rem/2 var(--raleway);
  color: var(--text-body);
}

.content-tag {
  font: 700 0.625rem var(--raleway);
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: var(--text-body);
  text-align: center;
  
  background-color: var(--shape-stroke);
  border-radius: 2rem;
  padding: .625rem 1.25rem;

  width: 5.625rem;
  height: 1.875rem;
}

a {
  font: 500 .875rem var(--raleway);
  color: inherit;
  text-decoration: none;
}

button {
  font: 700 .875rem var(--raleway);
}

@media (width >= 80em) {
  :root {
    --title-lg: 700 3rem var(--raleway);
    --title-sm: 700 2rem var(--raleway);
  }

  h3 {
    font-size: 2rem;
    line-height: 200%;
  }

  & h3 span {
    font-weight: 700;
  }
}
