section#hero {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/hero-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2rem;

  & nav {
    justify-content: space-between;
    margin-bottom: 3rem;
    padding: 1.25rem;

    & a {
      position: relative;
      padding: 0.875rem 1.25rem;
      background-color: var(--pink-dark);
      border: none;
      border-radius: 0.875rem;
      color: var(--text-title);

      & span {
        position: relative;
      }

      &:hover::before {
        opacity: 1;
        background-color: var(--pink-base);
        transform: scale(1);
        border-radius: 0.875rem;
      }

      &:active {
        transform: scale(0.85);
      }
    }

    & a::before {
      content: "";
      width: 100%;
      height: 2.85rem;
      border-radius: 50%;
      background-color: var(--pink-light);

      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;

      transform: scaleX(0.3);
      transition: all ease-in-out 200ms;
    }
  }

  & .title {
    display: grid;
    gap: 1rem;
    padding: 1.25rem;
    text-align: center;
    margin-inline: auto;

    & h1 {
      font: var(--title-lg);
      color: var(--text-title);
    }

    & p {
      font: 400 0.875rem/1.4 var(--raleway);
      color: var(--text-body);
    }
  }
}

@media (width >= 80em) {
  section#hero {
    max-width: 90rem;
    height: fit-content;
    padding: 3.5rem 10rem;

    & nav {
      margin-bottom: 10.25rem;
    }

    & .title {
      gap: 2rem;
      text-align: center;
      max-width: 41rem;

      & p {
        font-size: 1.25rem;
      }
    }
  }
}
