section#kit {
  max-width: 23.5rem;
  width: 100%;
  padding: 6.5rem 0.75rem;
  color: var(--text-body);
  overflow: hidden;
  margin-inline: auto;

  & header {
    display: grid;
    gap: 0.5rem;
    color: var(--text-body);
    margin-bottom: 5.5rem;

    & > div {
      gap: 0.75rem;
      margin-inline: auto;

      & img {
        width: 1.25rem;
      }

      & h2 {
        font: var(--title-sm);
      }
    }

    & p {
      font: 400 0.875rem/1.4 var(--raleway);
      text-align: center;
    }
  }

  & > .book {
    position: relative;

    & img[src*="book.png"] {
      position: absolute;
      width: 50%;
      margin: auto;

      top: 0;
      left: 0;
      right: 0;

      z-index: 3;
    }

    & .card {
      display: flex;
      flex-direction: column-reverse;
      gap: 0.75rem;

      transform: translateX(7rem) translateY(1rem);

      transition: all 500ms ease-in-out;

      & p {
        font: 400 0.625rem var(--raleway);
      }

      & img {
        width: 20%;
        transform: translateX(40%);
      }
    }

    & .pin {
      & img[src*="pin"] {
        width: 20%;
        transition: all 500ms ease-in-out;
        transform: translateY(7.5rem) translateX(7rem) rotate(-8deg);
      }

      & .cards {
        display: flex;
        flex-direction: column-reverse;
        gap: 0.75rem;
        transition: all 500ms ease-in-out;

        transform: translateX(7rem);

        & p {
          font: 400 0.625rem var(--raleway);
        }

        & img {
          width: 15%;
          transform: translateX(1rem);
        }
      }
    }

    & .bookmarks {
      transform: translateX(10rem) translateY(-15rem);
      transition: all 500ms ease-in-out;

      & img[src*="yellow"] {
        width: 18%;
        transform: translateY(3rem);
        z-index: 2;

        transition: all 500ms ease-in-out;
      }

      & img[src*="purple"] {
        width: 19%;
        transform: translateX(-2rem) translateY(4rem);
        transition: all 500ms ease-in-out;
      } 

      & .cards {
        display: grid;
        gap: 0.75rem;
        transition: all 500ms ease-in-out;

        transform: translateY(-1rem);

        & p {
          font: 400 0.625rem var(--raleway);
          transform: translateX(-.5rem);
        }

        & img {
          width: 15%;
          transform: translateX(1rem);
        }
      }
    }

    &:hover {
      & .card {
        display: flex;
        flex-direction: column-reverse;
        gap: 0.75rem;
        opacity: 1;

        transform: translateY(-2rem);

        & p {
          font: 400 0.625rem var(--raleway);
        }

        & img {
          width: 20%;
          transform: translateX(40%);
        }
      }

      & .pin {
        opacity: 1;

        & img[src*="pin"] {
          transform: translateX(3.2rem) translateY(8rem) rotate(-8deg);
        }

        & .cards {
          display: flex;
          flex-direction: column-reverse;
          gap: 0.75rem;

          transform: translateY(-3rem);

          & p {
            font: 400 0.625rem var(--raleway);
          }

          & img {
            width: 15%;
            transform: translateX(1rem);
          }
        }
      }

      & .bookmarks {
        transform: translateX(15rem) translateY(-15rem);
        & img[src*="yellow"] {
          width: 18%;
          transform: rotate(10deg);
          z-index: 2;
        }
  
        & img[src*="purple"] {
          width: 19%;
          transform: rotate(22deg) translateX(-.5rem) translateY(4rem);
        }

        & .cards {
          transform: translateX(1rem) translateY(3rem);
        }
      }
    }
  }
}

@media (width >= 80em) {
  section#kit {
    max-width: 90rem;

    & header {
      padding-inline: 12.3rem;
      margin-bottom: 9rem;

      & > div {
        gap: 1rem;
      }

      & p {
        font-size: 1rem;
      }

      & img {
        width: 2rem;
      }
    }

    & > div {
      justify-content: center;
    }
  }
}

@keyframes roll {
  0% {
    transform: scale(0.5);
  }
}
