section#kit {
  max-width: 23.5rem;
  width: 100%;
  padding: 6.5rem 0.75rem;
  color: var(--text-body);
  overflow: hidden;
  margin-inline: auto;

  & header {
    display: grid;
    gap: 0.5rem;
    color: var(--text-body);
    margin-bottom: 5.5rem;

    & > div {
      gap: 0.75rem;
      margin-inline: auto;

      & img {
        width: 1.25rem;
      }

      & h2 {
        font: var(--title-sm);
      }
    }

    & p {
      font: 400 0.875rem/1.4 var(--raleway);
      text-align: center;
    }
  }

  & > .book {
    position: relative;

    & img[src*="book.png"] {
      position: absolute;
      width: 50%;
      margin: auto;

      top: 0;
      left: 0;
      right: 0;

      z-index: 3;
    }

    & .card {
      display: flex;
      flex-direction: column-reverse;
      gap: 0.75rem;

      & p {
        font: 400 0.625rem var(--raleway);
      }

      & img {
        width: 20%;
        transform: translateX(40%);
      }
    }

    & .pin {
      & img[src*="pin"] {
        width: 20%;
      }
    }

    & .cards {
      display: flex;
      flex-direction: column-reverse;
      gap: 0.75rem;

      & p {
        font: 400 0.625rem var(--raleway);
      }

      & img {
        width: 15%;
        transform: translateX(1rem);
      }
    }
  }

  & .bookmarks {
    & img[src*="yellow"] {
      width: 18%;
      transform: translateY(3rem);
      z-index: 2;

      transition: all 500ms ease-in-out;
    }

    & img[src*="purple"] {
      width: 19%;
      transform: translateX(-2rem) translateY(4rem);
    }

    & .cards {
      display: grid;
      gap: 0.75rem;

      & p {
        font: 400 0.625rem var(--raleway);
        transform: translateX(-0.5rem);
      }

      & img {
        width: 15%;
        transform: translateX(1rem);
      }
    }
  }
}

@media (width < 80em) {
  section#kit {
    & > .book {
      & .card {
        animation: book-card-bloop 5s 1s ease-in-out both infinite;
      }

      & .pin {
        & img[src*="pin"] {
          animation: pin-bloop 5s 1s ease-in-out both infinite;
        }

        & .cards {
          animation: pin-cards-bloop 5s 1s ease-in-out both infinite;
        }
      }

      & .bookmarks {
        animation: bookmark-bloop 5s 1s both ease-in-out infinite;

        & img[src*="yellow"] {
          animation: bookmark-yellow 5s 1s both ease-in-out infinite;

          transition: all 500ms ease-in-out;
        }

        & img[src*="purple"] {
          animation: bookmark-purple 5s 1s both ease-in-out infinite;
        }

        & .cards {
          animation: bookmark-cards 5s 1s both ease-in-out infinite;
        }
      }
    }
  }
}

@media (width >= 80em) {
  section#kit {
    max-width: 90rem;

    & header {
      padding-inline: 12.3rem;
      margin-bottom: 9rem;

      & > div {
        gap: 1rem;
      }

      & p {
        font-size: 1rem;
      }

      & img {
        width: 2rem;
      }
    }

    & > div {
      justify-content: center;
    }

    & .book {
      width: 90%;
      transition: all 500ms ease-in-out;
      & .card {
        transform: translateY(2rem) translateX(25rem);
        transition: all 500ms ease-in-out;

        & p {
          font: 400 1rem/1.4 var(--raleway);
        }
      }

      & .pin {
        transform: translateY(27rem) translateX(30rem);
        transition: all 500ms ease-in-out;

        & .cards {
          transform: translateY(-30rem);
          transition: all 500ms ease-in-out;

          & img {
            width: 15%;
          }

          & p {
            font: 400 1rem/1.4 var(--raleway);
            transform: translateX(2rem);
          }
        }
      }

      & .bookmarks {
        transform: translateY(-55rem) translateX(45rem);

        & img[src*="yellow"] {
          transform: translateY(20rem) translateX(-10rem);
        }

        & img[src*="purple"] {
          transform: translateY(21rem) translateX(-19rem);
          transition: all 500ms ease-in-out;
        }

        & .cards {
          transform: translateY(5rem) translateX(-6rem);
          transition: all 500ms ease-in-out;

          & p {
            font: 400 1rem/1.4 var(--raleway);
          }
        }
      }

      &:hover {
        & .card {
          transform: translateY(-4rem) translateX(4rem);
        }

        & .pin {
          transform: translateX(10rem) translateY(27rem);

          & img[src*="pin"] {
            transform: rotate(-10deg);
          }

          & .cards {
            transform: translateY(-30rem) translateX(-8rem);
          }
        }

        & .bookmarks {
          transform: translateY(-50rem) translateX(50rem);
  
          & img[src*="yellow"] {
            transform: rotate(10deg) translateY(9rem) translateX(5rem);
          }
  
          & img[src*="purple"] {
            transform: rotate(30deg) translateY(17rem) translateX(8rem);
          }
  
          & .cards {
            transform: translateY(17rem) translateX(7rem);
  
            & p {
              font: 400 1rem/1.4 var(--raleway);
            }
          }
        }
  
      }
    }
  }
}
@keyframes book-card-bloop {
  0% {
    transform: translateX(7rem) translateY(1rem);
  }

  10% {
    transform: translateY(-2rem);
    opacity: 1;
  }

  90% {
    transform: translateY(-2rem);
    opacity: 1;
  }

  100% {
    transform: translateX(7rem) translateY(1rem);
  }
}

@keyframes pin-bloop {
  0% {
    transform: translateY(7.5rem) translateX(7rem) rotate(-8deg);
  }

  10% {
    transform: translateX(3.2rem) translateY(8rem) rotate(-8deg);
  }

  90% {
    transform: translateX(3.2rem) translateY(8rem) rotate(-8deg);
  }

  100% {
    transform: translateY(7.5rem) translateX(7rem) rotate(-8deg);
  }
}

@keyframes pin-cards-bloop {
  0% {
    transform: translateX(7rem);
  }

  10% {
    transform: translateY(-3rem);
  }

  90% {
    transform: translateY(-3rem);
  }

  100% {
    transform: translateX(7rem);
  }
}

@keyframes bookmark-bloop {
  0% {
    transform: translateX(10rem) translateY(-15rem);
  }

  10% {
    transform: translateX(15rem) translateY(-15rem);
  }

  90% {
    transform: translateX(15rem) translateY(-15rem);
  }

  100% {
    transform: translateX(10rem) translateY(-15rem);
  }
}

@keyframes bookmark-yellow {
  10% {
    transform: rotate(10deg);
    z-index: 2;
  }

  90% {
    transform: rotate(10deg);
    z-index: 2;
  }
}

@keyframes bookmark-purple {
  10% {
    transform: rotate(22deg) translateX(-0.5rem) translateY(4rem);
  }

  90% {
    transform: rotate(22deg) translateX(-0.5rem) translateY(4rem);
  }
}

@keyframes bookmark-cards {
  0% {
    transform: translateY(-0.3rem);
    opacity: 0;
    z-index: 1;
  }

  10% {
    transform: translateY(3rem) translateX(1rem);
    opacity: 1;
    z-index: 1;
  }

  90% {
    transform: translateY(3rem) translateX(1rem);
    opacity: 1;
    z-index: 1;
  }

  100% {
    transform: translateY(-3rem) translateX(-1rem);
  }
}
