section#spells {
  width: 100%;
  padding: 5rem 1.25rem;
  text-align: center;
  position: relative;

  animation-name: appear;
  animation-timeline: view();
  animation-range-start: 10%;
  animation-range-end: 50%;

  & img[src*="crystal"] {
    position: absolute;
    bottom: 3rem;
    right: 1.5rem;
    transform: rotate(15deg) scale(1.4);

    transition: all 400ms ease-in-out;

    animation-name: blink;
    animation-timeline: view();
    animation-range-start: 10%;
    animation-range-end: 50%;
  }

  & img[src*="opened-spellbook"] {
    position: absolute;
    right: 5rem;
    top: 2.5rem;

    animation-name: blink;
    animation-range-start: 10%;
    animation-range-end: 50%;
    animation-timeline: view();
    transform: scale(1.4);
  }
  
  & img[src*="ouija"] {
    position: absolute;
    left: 1rem;
    bottom: 3rem;
    transform: rotate(-30deg);

    animation-name: blink;
    animation-range-start: 10%;
    animation-range-end: 50%;
    animation-timeline: view();
    transform: scale(1.4);

  }

  & img {
    width: 2.5rem;
  }

  & span {
    color: var(--blue-light);
  }
}

@media (width >= 80em) {
  section#spells {
    max-width: 80rem;
    margin-inline: auto;
    padding: 8.5rem 10.8rem;

    & img {
      transition: all 800ms ease-in-out;
    }

    & img[src*="crystal"] {
      bottom: 6rem;
      right: 8rem;
      transform: rotate(-20deg) scale(1.4);

      transition: all 800ms ease-in-out;
      
      &:hover {
        transform: rotate(-40deg) scale(1.8);
      }
    }

    & img[src*="opened-spellbook"] {
      right: 50%;
      top: 6rem;
      transform: scale(1.4);
      transition: all 800ms ease-in-out;

      &:hover {
        transform: rotate(20deg) scale(1.8);
      }
    }

    & img[src*="ouija"] {
      left: 10rem;
      bottom: 6rem;
      transform: rotate(100deg) scale(1.4);
      transition: all 800ms ease-in-out;

      &:hover {
      transform: rotate(120deg) scale(1.8);
      }
    }


    & h3 {
      max-width: 75rem;
      font-size: 1.5rem;
    }
  }
}

@keyframes blink {
  0% {
    transform: scale(0.2);
  } 
}