section#spells {
  width: 100%;
  padding: 5rem 1.25rem;
  text-align: center;
  position: relative;

  animation-name: appear;
  animation-timeline: view();
  animation-range: cover;

  & img[src*="crystal"] {
    position: absolute;
    bottom: 3rem;
    right: 1.5rem;
    transform: rotate(15deg);

    transition: animation 1s ease-in-out;

    animation-name: blink;
    animation-range: cover;
    animation-timeline: view();
  }

  & img[src*="opened-spellbook"] {
    position: absolute;
    right: 5rem;
    top: 2.5rem;

    animation-name: blink;
    animation-range: cover;
    animation-timeline: view();
  }
  
  & img[src*="ouija"] {
    position: absolute;
    left: 1rem;
    bottom: 3rem;
    transform: rotate(-30deg);

    animation-name: blink;
    animation-range: cover;
    animation-timeline: view();
  }

  & img {
    width: 2.5rem;
  }

  & span {
    color: var(--blue-light);
  }
}

@media (width >= 80em) {
  section#spells {
    max-width: 80rem;
    margin-inline: auto;
    padding: 8.5rem 10.8rem;

    & img[src*="crystal"] {
      bottom: 6rem;
      right: 8rem;
      transform: rotate(-20deg);
    }

    & img[src*="opened-spellbook"] {
      right: 50%;
      top: 6rem;
    }

    & img[src*="ouija"] {
      left: 10rem;
      bottom: 6rem;
      transform: rotate(100deg);
    }


    & h3 {
      max-width: 75rem;
      font-size: 1.5rem;
    }
  }
}

@keyframes blink {
  0% {
    transform: scale(0.2);
  } 
}