.radial-gradient {
  background: radial-gradient(circle, rgba(2,5,12,1) 5%, rgba(15,7,17,1) 50%, rgba(0,5,10,1) 100%);
}

.center-gradient {
  background: linear-gradient(90deg, rgba(2,5,12,1) 0%, rgba(15,7,17,1) 50%, rgba(0,5,10,1) 100%);
}

.flex {
  display: flex;
}

.gap-1 {
  gap: 1rem;
}

.align-items {
  align-items: center;
}

.desktop-only {
  display: none;
}

.mobile-only {
  display: initial;
}

@media (width >= 80em) {
  .desktop-only {
    display: initial;
  }

  .mobile-only {
    display: none;
  }
}